<p><%= @resource.email %>さん</p>
<p>VALORANT FINDERをご利用いただきありがとうございます。</p>
<p>パスワードの再設定は以下のリンクから行えます。</p>
<p><%= link_to 'パスワード再設定',  edit_api_v1_user_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

